html, body {
  margin: 0;
  padding: 0;
}

.blowButton {
  width:140px;
  height: 40px;
  color: white;
  background-color: #0a6619;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  font-size: large;
}